body{
    background:#f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    box-shadow:0 2px 8px rgb(13, 50, 172);
}

.card{
    border:none;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform:translateY(-3px);
    transition:0.2s;
}

footer{
    margin-top:50px;
    color:rgb(11, 11, 11);
}